<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!-- Content for the edit Operation -->
<div class="container"></div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Your Name" name="Name" value="<%= Survey.Name %>" required>
                </div>
                <div class="form-group">
                    <label for="JobTitleTextField">Job Title</label>
                    <input type="text" class="form-control" id="JobTitleTextField" placeholder="Enter the Job Title" name="JobTitle" value="<%= Survey.JobTitle %>" required>
                </div>
                <div class="form-group">
                    <label for="SatisfactionTextField">Are you satisfied with your job?</label>
                    <input type="text" class="form-control" id="SatisfactionTextField" placeholder="Enter Yes or No" name="Satisfaction" value="<%= Survey.Satisfaction %>" required>
                </div>
                <div class="form-group">
                    <label for="DurationOfEmploymentTextField">How long have you been with the company?</label>
                    <input type="text" class="form-control" id="DurationOfEmploymentTextField"  placeholder="Enter the Duration of Employment in years" name="DurationOfEmployment" value="<%= Survey.DurationOfEmployment %>" required>
                </div>
                <div class="form-group">
                    <label for="ImprovmentsTextArea">What changes would improve your job satisfaction?</label>
                    <textarea type="text" class="form-control" id="ImprovmentsTextArea" placeholder="Describe the suggested improvement" name="Improvments" required><%= Survey.Improvments %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit
                <i class="fas fa-edit"></i></button>  
                <button class="btn btn-warning" type="submit">Cancel
                    <i class="fas fa-undo"></i></button>    
            </form>
        </div>
    </div>
</div>
<%- include ../Partials/footer.ejs%>