<%- include('Partials/header'); -%>
<%- include('Partials/main_nav'); -%>
<!--Survey Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-17">
            <h1><%= title %></h1>
            <br>
            <a href="/workoutlist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Create a Workout Tracker
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Workout Type</th>
                    <th class="text-center col-3">Exercise Details</th>
                    <th class="text-center col-2">Duration</th>
                    <th class="text-center col-3">Performance Rating</th>
                    <th class="text-center col-3">Fitness Goal Setting</th>
                    <th class="text-center col-2">Actions</th>
                </tr>
                <% for(let count=0;count<SurveyList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= SurveyList[count].Name %></td>
                    <td class="text-center col-2"><%= SurveyList[count].WorkoutType %></td>
                    <td class="text-center col-3"><%= SurveyList[count].ExerciseDetails %></td>
                    <td class="text-center col-2"><%= SurveyList[count].Duration %> </td>
                    <td class="text-center col-3"><%= SurveyList[count].PerformanceRating %></td>
                    <td class="text-center col-3"><%= SurveyList[count].FitnessGoalSetting %></td>
                    <td class="text-center col-2">
                        <a href="/workoutlist/edit/<%= WorkoutList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/workoutlist/delete/<%= WorkoutList[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include('Partials/footer'); -%>