<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Survey Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/surveyslist/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Create a Survey
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Job Title</th>
                    <th class="text-center col-2">Satisfaction</th>
                    <th class="text-center col-3">Duration of Employment</th>
                    <th class="text-center col-3">Improvments</th>
                    <th class="text-center col-2">Actions</th>
                </tr>
                <% for(let count=0;count<SurveyList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= SurveyList[count].Name %></td>
                    <td class="text-center col-2"><%= SurveyList[count].JobTitle %></td>
                    <td class="text-center col-2"><%= SurveyList[count].Satisfaction %></td>
                    <td class="text-center col-3"><%= SurveyList[count].DurationOfEmployment %> </td>
                    <td class="text-center col-3"><%= SurveyList[count].Improvments %></td>
                    
                    <td class="text-center col-1">
                        <a href="/surveyslist/edit/<%= SurveyList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/surveyslist/delete/<%= SurveyList[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>